.app-loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-faded-secondary-800);
  color: var(--color-primary-text);
  display: grid;
  place-items: center;
  z-index: 999999;
}

.app-loading-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
