.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header h1 {
  font-size: var(--font-4xl);
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: var(--font-md);
  text-transform: uppercase;
}

.header nav ul li {
  padding: 0.5rem;
  border: 1px solid transparent;
}

.header nav ul span {
  cursor: pointer;
}

.header nav ul li:hover {
  animation: border 0.5s infinite;
  animation-direction: alternate-reverse;
}

@keyframes border {
  from {
    border-bottom: 1px solid var(--color-primary-text);
    border-top: 1px solid var(--color-primary-text);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  to {
    border-left: 1px solid var(--color-primary-text);
    border-right: 1px solid var(--color-primary-text);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}

@media (max-width: 920px) {
  .header h1 {
    font-size: var(--font-2xl);
  }
}

@media (max-width: 760px) {
  .header h1 {
    font-size: var(--font-xl);
  }
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
}
